/* Estilos generales */
* {
    font-family: Terminess Nerd Font;
    font-size: 12px;
    min-height: 0px;
}

window#waybar {
	background: rgba(0,0,0,0);
	color: #c5c8c6;
}

window#waybar.empty #window  {
	background: transparent; /* No pone la burbuja de la ventana si no hay ventanas */
	color: transparent;
}

/* Botones del Workspace */
#workspaces {
    margin: 3px;
    padding: 5px;
    background: #1d1f21;
    border-radius: 10px;
}

#workspaces button {
    color: #c5c8c6;
    padding: 0 5px;
}

#workspaces button.active {
    color: #ffffff;
}

#workspaces button:hover {
  color: #1d1f21;
}

/* Para todos los modulos */
#window,
#custom-music,
#custom-weather,
#backlight,
#battery,
#pulseaudio,
#clock,
#tray,
#custom-power {
    background: #1d1f21;
    color: #c5c8c6;
    margin: 3px 0;
    padding: 5px;
}

/* Modulos especificos por orden */

/* Izquierda */
#window {
    border-radius: 10px;
    margin-right: 1rem;
}

/* Centro */
#custom-music {
  border-radius: 10px;
}

/* Derecha */
#tray {
    margin-left: 3px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#battery.critical:not(.charging) { /* Animacion batería baja */
    background-color: #F00;
    color: #1d1f21;
    animation: blink 0.5s steps(12) infinite alternate;
}

@keyframes blink {
    to {
        color: #ffffff;
    }
}

#custom-power {
    margin-right: 3px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #F00;
    color: #FFF;
}
