* {
	background-image: none;
	box-shadow: none;
}

/*Color del fondo cuando se activa*/
window {
	background-color: rgba(29, 31, 33, 0.9);
}

/* Botones */
button {
    border-radius: 0;
    border: 2px solid #c4c8c6;
    color: #c4c8c6;
    background-color: #1d1f21;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

/* Boton que le paso el mouse */
button:focus, button:active, button:hover {
    background-color: #141517;
    color: #fffefe;
    outline: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
