@import "mocha.css";
/* Estilos generales */
* {
    font-family: FantasqueSansMono Nerd Font;
    font-size: 16px;
    min-height: 0px;
}

window#waybar {
	background: @crust;
	color: @text;
	margin: 5px 5px;
}

window#waybar.empty #window  {
	background: transparent; /* No pone la burbuja de la ventana si no hay ventanas */
}

/* Botones del Workspace */

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: transparent;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.30rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

/* Para todos los modulos */
#window,
#custom-music,
#mpd,
#custom-weather,
#backlight,
#battery,
#pulseaudio,
#clock,
#tray,
#custom-power {
  background-color: @mantle;
  padding: 0.5rem 0.75rem;
  margin: 5px 0;
  border-radius: 1rem;
}

/* Modulos especificos por orden */

/* Izquierda */
#window {
    color: @lavender;
    margin-right: 1rem;
}

/* Centro */
#custom-music {
  color: @mauve;
}

#mpd {
  color: @mauve;
}

#mpd.stopped {
  background-color: transparent;
}


/* Derecha */

#custom-weather {
  color: @peach;
  margin-left: 1rem;
}

#backlight {
  color: @yellow;
}

#battery {
  color: @green;
}

#battery.critical:not(.charging) { /* Animacion batería baja */
    background-color: @red;
    color: @crust;
    animation: blink 0.5s steps(12) infinite alternate;
}

@keyframes blink {
    to {
        color: #ffffff;
    }
}

#pulseaudio {
  color: @maroon;
  margin-left: 1rem;
}


#clock {
  color: @blue;
  margin-right: 1rem;
}

#custom-power {
    margin-right: 1rem;
    color: @red;
}

#tray {
  margin-right: 1rem;
}
