/* Colors (gruvbox-material) */
@define-color black    #3C3836;
@define-color red      #EA6962;
@define-color green    #A9B665;
@define-color yellow   #D8A657;
@define-color blue     #7DAEA3;
@define-color purple   #D3869B;
@define-color aqua     #89B482;
@define-color gray     #D4BE98;
@define-color brgray   #3C3836;
@define-color brred    #EA6962;
@define-color brgreen  #A9B665;
@define-color bryellow #D8A657;
@define-color brblue   #7DAEA3;
@define-color brpurple #D3869B;
@define-color braqua   #89B482;
@define-color white    #D4BE98;
@define-color bg2      #282828;
@define-color special  #89B482;

@define-color warning 	@bryellow;
@define-color critical	@red;
@define-color unfocused	@bg2;
@define-color focused	@braqua;
@define-color inactive	@purple;
@define-color sound	@brblue;
@define-color network	@brpurple;
@define-color memory	@gray;
@define-color cpu	@bryellow;
@define-color temp	@brgreen;
@define-color tray	@bg2;
@define-color battery	@braqua;
@define-color date	@black;
@define-color time	@white;

/* Keyframes */

@keyframes blink-critical {
	to {
		/*color: @white;*/
		background-color: @critical;
	}
}

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	icon-shadow: none;
}

/* The whole bar */
#waybar {
	background: rgba(40, 40, 40, 0.8784313725); /* #282828e0 */
	color: @white;
	font-family: Terminess Nerd Font Propo, Siji;
	font-size: 8pt;
	/*font-weight: bold;*/
}

/* Each module */
#custom-launcher,
#battery,
#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#temperature,
#tray,
#backlight,
#idle_inhibitor,
#disk,
#user,
#mpris {
	padding-left: 8pt;
	padding-right: 8pt;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-critical;
	animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
	color: @warning;
}

/* And now modules themselves in their respective order */
#custom-launcher {
	padding-left: 2pt;
	padding-right: 2pt;
	color: @bg2;
	background: @white;
}

/* Tags stuff */
#tags button {
	/*font-weight: bold;*/
	padding-left: 2pt;
	padding-right: 2pt;
	color: @white;
	background: @unfocused;
}

/* Inactive (on unfocused output) */
#tags button.visible {
	color: @white;
	background: @inactive;
}

/* Active (on focused output) */
#tags button.focused {
	color: @special;
	background: @unfocused;
}

/* Contains an urgent window */
#tags button.urgent {
	color: @black;
	background: @warning;
}

/* Style when cursor is on the button */
#tags button:hover {
	background: @white;
	color: @bg2;
}

#window {
	margin-right: 35pt;
	margin-left: 35pt;
}

#pulseaudio {
	background: @sound;
	color: @black;
}

#network {
	background: @network;
	color: @black;
}

#memory {
	background: @memory;
	color: @black;
}

#cpu {
	background: @cpu;
	color: @black;
}

#temperature {
	background: @temp;
	color: @black;
}

#tray {
	background: @tray;
	color: @black;
}

#battery {
	background: @battery;
	color: @black;
}

#clock.date {
	background: @date;
	color: @white;
}

#clock.time {
	background: @time;
	color: @black;
}

#custom-arrow1 {
	font-size: 11pt;
	color: @time;
	background: @date;
}

#custom-arrow2 {
	font-size: 11pt;
	color: @date;
	background: @tray;
}

#custom-arrow3 {
	font-size: 11pt;
	color: @tray;
	background: @battery;
}

#custom-arrow4 {
	font-size: 11pt;
	color: @battery;
	background: @temp;
}

#custom-arrow5 {
	font-size: 11pt;
	color: @temp;
	background: @cpu;
}

#custom-arrow6 {
	font-size: 11pt;
	color: @cpu;
	background: @memory;
}

#custom-arrow7 {
	font-size: 11pt;
	color: @memory;
	background: @network;
}

#custom-arrow8 {
	font-size: 11pt;
	color: @network;
	background: @sound;
}

#custom-arrow9 {
	font-size: 11pt;
	color: @sound;
	background: transparent;
}

#custom-arrow10 {
	font-size: 11pt;
	color: @unfocused;
	background: transparent;
}

#custom-arrow11 {
	font-size: 11pt;
	color: @white;
	background: @bg2;
}
