/*
  ____      _                              _
 / ___|__ _| |_ _ __  _ __  _   _  ___ ___(_)_ __
| |   / _` | __| '_ \| '_ \| | | |/ __/ __| | '_ \
| |__| (_| | |_| |_) | |_) | |_| | (_| (__| | | | |
 \____\__,_|\__| .__/| .__/ \__,_|\___\___|_|_| |_|
               |_|   |_|
*/

/* Estilos generales */
* {
    border: none;
    border-radius: 0;
    font-family: "Nerd Font Hack";
    font-size: 14px;
    min-height: 24px;
}

window#waybar {
	background: transparent;
}

window#waybar.empty #window  {
	background: transparent; /* No pone la burbuja de la ventana si no hay ventanas */
}

/* Para todos los modulos */
#workspaces,
#window,
#custom-music,
#custom-weather,
#backlight,
#battery,
#pulseaudio,
#clock,
#tray,
#custom-power {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 0;
    border-radius: 26px;
    transition: none;
    color: #CDD6F4;
    background-color: #1E1E2E;
}

#custom-power {
    margin-right: 8px; /* El power button no esta pegado al borde*/
}

/* Botones del Workspace */
#workspaces button {
    transition: none;
    color: #CDD6F4;
    background: transparent;
    font-size: 16px;
}

#workspaces button.active {
    color: #F38BA8;
}

#workspaces button.focused {
    color: #F38BA8;
}

#workspaces button:hover {
    color: #F38BA8;
}

/* Batería baja */
#battery.critical:not(.charging) {
    background-color: #F38BA8;
    color: #45475A;
    animation: blink 0.5s steps(12) infinite alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Poner el mouse encima */

#pulseaudio:hover {
    background-color: #89B4FA; /* azul */
    color: #1E1E2E;
}

#clock:hover {
    background-color: #F9E2AF; /* amarillo */
    color: #1E1E2E;
}

#custom-power:hover {
    background-color: #F38BA8; /* rojo */
    color: #1E1E2E;
}

/* Especifico de los tray */
#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
