#window {
  border: 4px solid @focus;
  background-color: @base;
  color: @focus;
}

#outer-box {
  margin: 10px;
}

#input {
  all: unset;
  margin: 10px;
  padding: 6px 10px;
  background-color: @base;
  border-radius: 6px;
  color: @fous;
}

#scroll {
  margin: 0px 8px;
}

#entry {
  padding: 6px 10px;
  margin: 2px;
  border-radius: 6px;
}

#entry:selected {
  background-color: @focus;
  color: @base;
}

#text {
  all: unset;
  font-family: "Terminess Nerd Font";
  font-size: 14px;
}

#img {
  all: unset;
  margin-right: 6px;
}

#expander-box {
  background-color: @base;
  border-radius: 6px;
  margin-top: 4px;
}
